@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  body {
    color: #ededed; /* Light text color for dark mode */
    background: #0a0a0a; /* Dark background for dark mode */
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

