@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  body {
    color: #ededed; /* Light text color for dark mode */
    background: #0a0a0a; /* Dark background for dark mode */
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


/* Global styles for the bubble animation */
.bubble-container {
  position: fixed;  /* Use fixed position to ensure it remains in place when scrolling */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;  /* Prevents bubbles from blocking interactions */
  z-index: -1; /* Ensure it's behind content */
  overflow: hidden;  /* Prevents bubbles from overflowing */
}

.bubble {
  position: absolute;
  border-radius: 50%;
  /* background-color: rgba(51, 11, 11, 0.6); */
  background-color: rgba(247, 81, 192, 0.6);
  animation: bubbleAnimation 8s infinite ease-in-out;
  will-change: transform, opacity; /* Hint to the browser for better performance */
}

@keyframes bubbleAnimation {
  0% {
    transform: translateY(100vh) scale(0);
    opacity: 0.7;
  }
  50% {
    transform: translateY(-50vh) scale(1.2); /* Slightly increased size */
    opacity: 0.4;
  }
  100% {
    transform: translateY(-100vh) scale(0);
    opacity: 0;
  }
}

/* Adjust size and randomness for responsive design */
@media (max-width: 768px) {
  .bubble {
    width: 30px; /* Smaller size on mobile */
    height: 30px;
  }
}

@media (min-width: 769px) {
  .bubble {
    width: 50px; /* Larger size on desktop */
    height: 50px;
  }
}
